In [1]:
import pandas
import dask.dataframe as daskDataFrame

person_IDs = [1,2,3,4,5,6,7,8,9,10]
person_last_names = ['Smith', 'Williams', 'Williams', 'Jackson', 'Johnson', 'Smith', 
                    'Anderson', 'Christiansen', 'Carter', 'Davidson']
person_first_names = ['John', 'Bill', 'Jane', 'Cathy', 'Sturart', 'James', 
                     'Felicity', 'Liam', 'Nancy', 'Christina']
person_DOBs = ['1982-10-26', '1990-07-04', '1989-05-06', '1974-01-24', '1995-06-05', 
              '1984-04-16', '1976-09-15', '1992-10-02', '1986-02-05', '1993-08-11']

peoplePandasDataFrame = pandas.DataFrame({'Person ID' : person_IDs, 
                                         'Last Name' : person_last_names, 
                                         'First Name' : person_first_names, 
                                         'Date of Birth' : person_DOBs}, 
                                        columns = ['Person ID', 'Last Name', 'First Name', 'Date of Birth'])
peopleDaskDataFrame = daskDataFrame.from_pandas(peoplePandasDataFrame, 
                                               npartitions = 2)

In [2]:
peoplePandasDataFrame.head(10)

   Person ID     Last Name First Name Date of Birth
0          1         Smith       John    1982-10-26
1          2      Williams       Bill    1990-07-04
2          3      Williams       Jane    1989-05-06
3          4       Jackson      Cathy    1974-01-24
4          5       Johnson    Sturart    1995-06-05
5          6         Smith      James    1984-04-16
6          7      Anderson   Felicity    1976-09-15
7          8  Christiansen       Liam    1992-10-02
8          9        Carter      Nancy    1986-02-05
9         10      Davidson  Christina    1993-08-11

In [3]:
peopleDaskDataFrame.head(10)

   Person ID Last Name First Name Date of Birth
0          1     Smith       John    1982-10-26
1          2  Williams       Bill    1990-07-04
2          3  Williams       Jane    1989-05-06
3          4   Jackson      Cathy    1974-01-24
4          5   Johnson    Sturart    1995-06-05

In [4]:
print(peopleDaskDataFrame.divisions)

(0, 5, 9)

In [5]:
print(peopleDaskDataFrame.npartitions)

2

In [6]:
peopleDaskDataFrame.map_partitions(len).compute()

0    5
1    5
dtype: int64

In [7]:
people_filtered = peopleDaskDataFrame[peopleDaskDataFrame['Last Name'] != 'Williams']
print(people_filtered.map_partitions(len).compute())

0    3
1    5
dtype: int64

In [8]:
people_filtered_reduced = people_filtered.repartition(npartitions = 1)
print(people_filtered_reduced.map_partitions(len).compute())

0    8
dtype: int64